/* Geral */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1f2128;
}

h1 {
  margin: 0;
  padding: 0 0 10px 0px;
  text-align: center;
  font-size: 2em;
  font-family: "Share Tech", sans-serif;
}

/* Login Page */

#login {
  width: 320px;
  height: 360px;
  background: #2d2f39;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 50px 30px;
}

#login p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: "Share Tech", sans-serif;
}

#login input {
  width: 100%;
  margin-bottom: 20px;
}

#login input[type="text"],
#login input[type="password"] {
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  font-size: 16px;
}

#login input[type="text"]::placeholder,
#login input[type="password"]::placeholder {
  color: #fff;
}

#login input[type="submit"],
#login input[type="create"] {
  border: none;
  outline: none;
  height: 40px;
  background: #fff;
  color: #2d2f39;
  font-size: 18px;
  border-radius: 20px;
  text-align: center;
}

#login input[type="submit"]:hover,
#login input[type="create"]:hover {
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

#login a {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  font-family: "Share Tech", sans-serif;
  font-weight: bold;
}

#login a:hover {
  color: #fff;
}

/* Create Accont Page */

#create {
  width: 320px;
  height: 430px;
  background: #2d2f39;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 50px 30px;
}

#create p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: "Share Tech", sans-serif;
}

#create input {
  width: 100%;
  margin-bottom: 20px;
}

#create input[type="text"],
#create input[type="password"] {
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  font-size: 16px;
}

#create input[type="text"]::placeholder,
#create input[type="password"]::placeholder {
  color: #fff;
}

#create input[type="submit"],
#create input[type="create"] {
  border: none;
  outline: none;
  height: 40px;
  background: #fff;
  color: #2d2f39;
  font-size: 18px;
  border-radius: 20px;
  text-align: center;
}

#create input[type="submit"]:hover,
#create input[type="create"]:hover {
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

#create a {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  font-family: "Share Tech", sans-serif;
  font-weight: bold;
}

#create a:hover {
  color: #fff;
}
